<html>
  <head>
    <title>Patser's Mommy | Stats</title>
    <link rel="shortcut icon" type="image/ico" href="/static/sumi.ico"/>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="TopBar">
      <div class="NavBar">
        <img src="/static/sumi.ico" class="Logo">
        <a href="/">Home</a>
        <a href="/stats/">Statistics</a>
        <a href="/dashboard/">Dashboard</a>
        <a href="/profile/">Profile</a>
      </div>
      <div class="UserBar">
        {% if loggedIn is true %}
          <img src="{{avatar}}">
          <a class="UserLink" href="/profile/">{{name}}</a>
          <a class="UserButton" href="/logout/">Logout</a>
        {% endif %}
        {% if loggedIn is false %}
          <a class="UserButton" href="/login/">Login</a>
        {% endif %}
      </div>
    </div>
    <h1 class="PageHeader">NSFW Statistics</h1>
    <div class="MainDiv">
      <div class="SubDiv">
        <h3 class="SubHeader">Global Statistics</h3>
        {% for data in stats %}
          <div class="StatContainer">
            <p><b>{{data[0]}}</b>: {{data[1]}}</p>
          </div>
        {% endfor %}
      </div>
      <div class="SubDiv">
        <h3 class="SubHeader">User Statistics</h3>
        {% if loggedIn is true %}
          <h4>{{name}}</h4>
          <h4>Total searches: {{userStats[0]}}</h4>
          {% for data in userStats[1] %}
            <div class="StatContainer">
              <p><b>{{data[0]}}</b>: {{data[1]}}</p>
            </div>
          {% endfor %}
        {% endif %}
        {% if loggedIn is false %}
          <h3 class="SubHeader">You need to be logged in to view your own stats
        {% endif %}
      </div>
    </div>
  </body>
</html>